{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row-fluid">
            Curabitur velit arcu, fringilla ut egestas ac, pellentesque at tellus. Proin varius venenatis convallis. Nam id augue augue. Morbi interdum augue augue. Sed et mauris id lacus blandit sollicitudin. Pellentesque tellus diam, gravida eget magna sed, luctus consectetur elit. Mauris interdum nulla felis, vitae tempus nunc elementum in. Nam vel placerat tortor, vel sodales erat. Integer vel est tellus. Maecenas volutpat, leo sed tempor eleifend, magna felis tincidunt ipsum, eget faucibus felis enim eu mauris. Nulla sem est, euismod sit amet ex et, finibus viverra lorem. Nunc lacus dui, ullamcorper eget imperdiet id, vulputate nec metus. Proin et dolor eros. Suspendisse a ornare nunc. Aliquam erat volutpat. Nam feugiat varius vulputate.
        </div>
        <div class="row-fluid">
            <a href="{{ path('Homepage') }}">Homepage</a>
        </div>
    </div>
{% endblock %}
