<footer id="footer">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel leo eu arcu vehicula sagittis. Sed blandit blandit sem eu feugiat. Cras suscipit lacus risus, ut posuere velit feugiat a. Curabitur id auctor lectus. Curabitur placerat rhoncus ipsum, non maximus justo ullamcorper eu. Praesent auctor varius est gravida pretium.
        </p>
    </div>
</footer>
