{% extends 'default/docs/base.html.twig' %}

{% block breadcrumb %}
    {% include 'default/widgets/breadcrumbs.html.twig' with {
        'links': breadcrumbs
    } only %}
{% endblock %}

{% block content %}

    {% include 'default/widgets/updateable-content.js.twig' with {
        'id': 'documentation-content',
        'update-path': 'this is the update path'
    } only %}

    <textarea id="page-editor" style="display: none">{{ documentation.pageContent|raw }}</textarea>

    <div id="documentation-content">
        {% filter bbcode|raw %}
            {{ documentation.pageContent|raw }}
        {% endfilter %}
    </div>
{% endblock %}
