{% extends 'default/docs/base.html.twig' %}

{% block breadcrumb %}
    <div id="breadcrumb" class="row-fluid">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
          <li class="active"><a href="#">Home</a></li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    {% filter bbcode|raw %}
        {{ documentation[0].pageContent|raw }}
    {% endfilter %}
{% endblock %}
