{% extends 'page.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" href="http://strapdownjs.com/v/0.2/strapdown.js" />
{% endblock %}

{% block stylesheets %}
    {% stylesheets 
        'css/github-markdown.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page %}
    {% block breadcrumb %}{% endblock %}
    <div class="row-fluid">
    {% block quicklinks %}{% endblock %}
        {% block content %}
            No content
        {% endblock %}
    </div>
{% endblock %}
