{% extends 'page.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" href="http://strapdownjs.com/v/0.2/strapdown.js" />
{% endblock %}

{% block stylesheets %}
    {% stylesheets 
        'css/github-markdown.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="container">
        {% block breadcrumb %}
            <div id="breadcrumb" class="row-fluid">
                <ol class="breadcrumb" style="margin-bottom: 5px;">
                  <li class="active"><a href="#">Home</a></li>
                </ol>
            </div>
        {% endblock %}
        <div class="row-fluid">
            {% block content %}
                No content D:
            {% endblock %}
        </div>
    </div>
{% endblock %}
