<li>
    <a href="{{ path("ViewDocumentation", parameters = { documentationId: link.element.getId}) }}">{{ link.element.getName }}</a>
    {% for child in link.children %}
        <ul>
            {% include 'default/docs/quicklinks.html.twig' with {
                'link': child
            } only %}
        </ul>
    {% endfor %}
</li>