<li>
    <a href="">{{ link.doc.getName }}</a>
    {% for child in link.children %}
        <ul>
            {% include 'default/docs/quicklinks.html.twig' with {
                'link': child
            } only %}
        </ul>
    {% endfor %}
</li>