{% for notice in app.session.flashBag.get('banner-notice') %}
    <div id="banner-message" class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 row-fluid">
            {{ notice }}
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endfor %}
