<div id="banner" class="row-fluid">
    <div class="container">
        <h1>{{ title|default('This is the title') }}</h1>
        <p>{{ description|default('This is the description') }}</p>
    </div>
</div>